<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <div>
        <ul *ngIf="!isLoggedIn" class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ul>
        <ul *ngIf="isLoggedIn" class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav> -->


<!-- <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand d-block mx-auto" href="#" title="Cancard">
        <img src="assets/images/teleclinq-logo.png" alt="Cancard Logo" width="250">
    </div>
  </nav>
</header> -->
<!-- Just an image -->
<header>
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo/teleclinq-logo-removebg-preview.png" style="margin-left: 10px;" width="250" alt="">
    </a>
  </nav>
</header>