<div class="tab-pane" id="blood-pressure" role="tabpanel" aria-labelledby="blood-pressure-tab">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-4 my-auto">
              <img src="assets/images/blood-pressure-checking.svg" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 offset-1 my-auto">
              <div class="rightbox" *ngIf="!showResults">
                <h3 class="mb-4">Please follow the instructions <span class="d-block">to proceed the test</span></h3>
                <ul class="list-unstyled mt-5">
                  <li><i class="fa-solid fa-check me-3"></i>Place your elbow at the right position.</li>
                  <li><i class="fa-solid fa-check me-3"></i>Please press the button to start.</li>
                 
                </ul>
                <p class="mt-5">Press<a (click)="checkResults()"class="continue">Continue</a> When you are ready</p>

                <!-- <div class="counter">
                  <h4 id="seconds" class="mb-0">10</h4>
                </div> -->
              </div>
              <div *ngIf="showResults" class="myweight p-5 text-center">
                <h3 class="text-center mb-5">Blood Pressure Result</h3>
                <h4 class="mt-5"><b>Your Blood Pressure is</b></h4>
                <h2 class="text-uppercase">111/69</h2>
                <h5>SBP/DBP</h5>
                <ul class="list-unstyled">
                  <li><a href="#">Restart</a></li>
                  <li><a href="/vitals/height" id="height-tab" data-bs-toggle="pill" data-bs-target="#height" type="button" role="tab" aria-controls="height" aria-selected="false" class="continue">Continue</a></li>
                  <li><a href="#">End</a></li>
                </ul>
              </div>
          </div>
      </div>
  </div>
  </div>
