
<div class="loginwrapper">
<div class="loginbg p-5">
  <form  [formGroup]='loginForm' (submit)="login()">
    <h1 class=" mb-4 text-center">Login</h1>
  
    <div class="mb-4">
      <input type="text" class="form-control" id="floatingPassword" placeholder="Username" formControlName="username">
    </div>
    <div class="mb-4">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
    </div>
    <button class="w-100 btn btn-primary text-uppercase py-3" type="submit" [disabled]="!loginForm.valid">Login</button>
    <p>Don't have login, Please <a href="/register">Register</a></p>
    <p *ngIf="message" class="alert alert-danger alert-dismissible fade show">{{message}}</p>
  </form>
</div>
</div>



