<!-- <div class="wrapper">

    <section class="headingbg">
        <h1 class="mb-0 text-center">Demographic</h1>
    </section>
    <div class="container-fluid custom-width mt-5">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="manually ">
                <div class="p-5">
                    <h3>Demographic Details</h3>
                    <div class="row mb-3">
                        <div class="col-8">
                            <ul class="list-unstyled">
                                <li><span>First Name:</span>John</li>
                                <li><span>Last Name:</span>Doe</li>
                                <li><span>Email Id:</span>info@advaa.com</li>
                                <li><span>Date Of Birth:</span> 06 September 1991</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <div class="profilepic">
                                <img src="../assets/images/profile.jpg" alt="Profile" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="mt-5"><p-button icon="pi pi-pencil" label="Edit"></p-button></div>  
                
            </div>
            </div>
            <div class="manually mt-5">
                <div class="p-5">
                    <h3>Insurance Details</h3>
                    <div class="row mb-3">
                        <div class="col-8">
                            <ul class="list-unstyled">
                                <li><span>Insurance Company:</span>Max Life Insurance</li>
                                <li><span>Insurance Number:</span>123ABG3T</li>
                                <li><span>Validity:</span>02-10-2025</li>
                                <li><span>Insurance Type:</span>Life/Medical</li>
                            </ul>
                        </div>
                        <div class="col-4">
                             <div class="profilepic">
                                <img src="../assets/images/profile.jpg" alt="Profile" class="img-fluid">
                            </div> 
                        </div>
                    </div>
                   
                    <div class="mt-5"><p-button icon="pi pi-pencil" label="Edit"></p-button></div>  
                
            </div>
            </div>
                
            </div>

            <div class="col-5 offset-1">
                <div class="manually">
                    <div class="p-5">
                        <h3>Past Medical History</h3>
                        <div class="row mb-3">
                            <div class="col-8">
                                <ul class="list-unstyled">
                                    <li><span>Heart/Vascular Disease:</span>Heart Attack , Coronary Artery</li>
                                    <li><span>Infectous Disease:</span>Tuverculosis,other</li>
                                    <li><span>Musculouskeletal Id:</span>Gout, osteoarthiritis</li>
                                    <li><span>Respiratory:</span>Asthma</li>
                                </ul>
                            </div>
                            <div class="col-4">
                            </div>
                        </div>
                        <div class="mt-5"><p-button icon="pi pi-pencil" label="Edit"></p-button></div>  
                </div>
            </div>
            <p-button icon="pi pi-forward" label="Proceed" (onClick)="proceed()" class="proceed-btn"></p-button>
        </div>
    </div>
</div> -->

<div class="wrapper">
    <div class="container">
        <div class="welcome-message">
            <h1>Select type of Appointment below</h1>
            <div class="button-row">
                <button class="start-button" (click)="checkin()">Checkin</button>
                <button class="start-button">Walk In</button>
            </div>
            
        </div>
    </div>
</div>
