<div class="container-fluid bgcolor">
    <div class="row">
        <div class="col-md-12 p-0">
          <div class="btn-design">
            <ul class="list-unstyled fixed-bottom mb-0">
              <li><a href="vitals/weight" class="active"><img src="assets/images/weighing.png" width="50" class="me-3">Weight</a></li>
              <li><a href="vitals/temprature"><img src="assets/images/body-temp.png" width="50" class="me-3" >Body Temperature</a></li>
              <li><a href="vitals/bp"><img src="assets/images/blood-pressure.png" width="50" class="me-3">Blood Pressure</a></li>
              <li><a href="vitals/height"><img src="assets/images/height.png" width="50" class="me-3" >Height</a></li>
              <li><a href="vitals/spo2"><img src="assets/images/oxygen-level-checker.png" width="50" class="me-3" >SpO2</a></li>
            </ul>
          </div>

              <div class="tab-content">
                <router-outlet></router-outlet>
                <!-- Weight Component -->
                <!-- <app-weight></app-weight> -->
                <!-- Temprature Component -->
               <!-- <app-temprature></app-temprature> -->

                <!-- Blood pressure component -->
                <!-- <app-bp></app-bp> -->
                <!-- Height Component -->
                <!-- <app-height></app-height> -->
                <!-- SPO2 component -->
               <!-- <app-spo2></app-spo2> -->

               
              </div>
        </div>
    </div>
</div>

