body {
    font-family: 'Mulish', sans-serif;
  }
  .image-center-left {
    position: absolute;
    top: 15%; /* Vertically center */
    left: 10px; /* Adjust distance from the left */
    width: 100px; /* Set desired width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
  }
  .custom-dialog .ui-dialog-content {
    text-align: center;
    font-size: 16px;
    padding: 20px;
  }
  
  .custom-dialog .pi {
    transition: transform 0.3s ease;
  }
  
  .custom-dialog .pi:hover {
    transform: scale(1.1);
  }
  