.card-info {
    /* height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f0f5f8, #d3dbe0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}