<div class="wrapper">
   
    <!-- <section class="headingbg">
        <h1 class="mb-0 text-center">Consent</h1>
    </section>
    <div class="container-fluid custom-width mt-5">
        <div class="row">
           
            <div class="col-6 mx-auto">
                <div class="manually">
                <div class="p-5">
                    <div class="row mb-3">
                        <div class="col-12 text-center">
                            <div class="form-group">
                                <p>Sample text for consent form goes here</p>
                               </div>
                               <div>
                                <p-button icon="pi pi-check" label="Agree" (onClick)="submit()"></p-button>
                            </div> 
                              
                        </div>
                    </div>
                  
                
            </div>
            </div>
                
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="consent-step">
            <h1>Consent Form</h1>
            <p>Please read the following consent form carefully.</p>
            
            <div class="consent-text">
                <p>
                    <strong>Consent for Treatment</strong><br>
                    I hereby authorize [Hospital Name] and its healthcare providers to provide treatment and care as deemed necessary for my health and well-being. This includes but is not limited to diagnostic procedures, medical treatments, and consultations.
                </p>
                <p>
                    <strong>Use of Personal Information</strong><br>
                    I understand that my personal and medical information will be kept confidential and used solely for the purpose of providing medical care. However, I consent to the sharing of my information with insurance companies and other healthcare providers as necessary.
                </p>
                <p>
                    <strong>Financial Responsibility</strong><br>
                    I agree to be financially responsible for all charges and fees associated with my treatment. I understand that it is my responsibility to provide accurate insurance information and to follow up on insurance claims and payments.
                </p>
            </div>
    
            <div class="button-row">
                <button class="agree-button" (click)="agree()">Agree</button>
                <button class="disagree-button" (click)="disagree()">Disagree</button>
            </div>
        </div>
    </div>
    

</div>

