.image-bottom-right {
    position: absolute;
    bottom: 0%; 
    right: 10px; /* Adjust distance from the right */
    /* transform: translateY(-50%); */
    width: 450px; /* Set desired width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
  }
  .image-center-left {
    position: absolute;
    top: 15%; /* Vertically center */
    left: 10px; /* Adjust distance from the left */
    width: 100px; /* Set desired width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
  }