<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-5">
            <div class="card  mb-3">
                <div class="card-header text-bg-primary py-3">Personal Details</div>
                <div class="card-body">
                  <!-- <h1 class="card-title mt-3">Personal Details</h1> -->

                  <div class="row mt-1 g-5">
                    <div class="col-md-3">
                        <label for="">First Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="">Middle Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="">Enter Email Id</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="">Enter Mobile Number</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="">Enter DOB</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="">Enter SSN Number</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="">Martial Status</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Single</option>
                            <option value="Married">Married</option>
                            
                          </select>
                    </div>
                    <div class="col-md-3">
                        <label for="">Gender</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                            
                          </select>
                    </div>
                    <div class="col-md-3">
                        <label for="">Select City</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Mumbai</option>
                            <option value="">City01</option>
                            <option value="Other">City01</option>
                            
                          </select>
                    </div>
                    <div class="col-md-3">
                        <label for="">Select State</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Maharashtra</option>
                            <option value="">City01</option>
                            <option value="Other">City01</option>
                            
                          </select>
                    </div>
                    <div class="col-md-3">
                        <label for="">Zipcode</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="">Zipcode</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="">Emergency Contact Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="">Emergency Contact Number</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="">Emergency Contact Email</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="">Enter Address</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="">Upload Photo</label>
                            <input class="form-control form-control-lg" id="formFileLg" type="file">
                    </div>
    
                </div>
    
                <button class="btn btn-success mt-4 px-5 py-3">Submit</button>

                </div>
              </div>



        


        </div>
    </div>
</div>