body {
    font-family: 'Mulish', sans-serif;
  }
  .image-center-left {
    position: absolute;
    top: 15%; /* Vertically center */
    left: 10px; /* Adjust distance from the left */
    width: 100px; /* Set desired width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
  }
  .image-right-left {
    position: absolute;
    top: 85%; /* Vertically center */
    right: 10px; /* Adjust distance from the left */
    width: 100px; /* Set desired width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
  }
    /* Button Customization */
.custom-btn {
    font-size: 15px; 
    padding: 12px 30px; /* More padding for a better look */
    border-radius: 50px; /* Ensuring rounded corners */
    transition: all 0.3s ease; /* Smooth transition effect */
  }
  
  .custom-btn:hover {
    transform: translateY(-5px); /* Slight hover effect */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Adding shadow on hover */
  }
  
  .custom-btn:focus {
    outline: none; /* Removes focus outline */
  }
  
  .btn-primary.custom-btn {
    background-color: #226AB2; /* Custom blue color */
    border: none; /* Removes default border */
  }
  
  .btn-secondary.custom-btn {
    background-color: #6c757d; /* Custom gray color */
    border: none; /* Removes default border */
  }
  .loading-dialog .p-dialog {
    width: 400px;
    border-radius: 10px;
  }
  
  .loading-dialog .p-dialog-content {
    padding: 20px;
  }
  
  .p-dialog .pi-check-circle {
    font-size: 50px;
    color: green;
  }
  .icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px; /* Adjust the size of the circle */
    height: 45px; /* Adjust the size of the circle */
    background-color: #28a745; /* Green background */
    border-radius: 50%; /* Makes the shape a circle */
    margin-right: 5px; /* Spacing between the icon and text */
}

.icon-circle i {
    font-size: 24px; /* Adjust the icon size to fit inside the circle */
}
